@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "MasterPatientState";
}

<div class="modal fade" id="MasterPatientStateModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="MasterPatientStateModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MasterPatientStateModelLabel">บันทึกข้อมูล MasterPatientState</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="MasterPatientState_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_MasterPatientState_code" for="MasterPatientState_code">เลขสถานะผู้ป่วย</label>
	    <input class="form-control" type="text" id="MasterPatientState_code" iLabel="เลขสถานะผู้ป่วย" iRequire="true" iGroup="MasterPatientState"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterPatientState_name" for="MasterPatientState_name">สถานะผู้ป่วย</label>
	    <input class="form-control" type="text" id="MasterPatientState_name" iLabel="สถานะผู้ป่วย" iRequire="true" iGroup="MasterPatientState"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterPatientState_remark" for="MasterPatientState_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="MasterPatientState_remark" iLabel="หมายเหตุ" iRequire="true" iGroup="MasterPatientState"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:MasterPatientState_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">MasterPatientState</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterPatientState_code' for='s_MasterPatientState_code'>เลขสถานะผู้ป่วย</label>
                            <input class="form-control" type="text" id="s_MasterPatientState_code" iLabel="เลขสถานะผู้ป่วย" iRequire="true" iGroup="s_MasterPatientState" title='เลขสถานะผู้ป่วย' placeholder='เลขสถานะผู้ป่วย' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterPatientState_name' for='s_MasterPatientState_name'>สถานะผู้ป่วย</label>
                            <input class="form-control" type="text" id="s_MasterPatientState_name" iLabel="สถานะผู้ป่วย" iRequire="true" iGroup="s_MasterPatientState" title='สถานะผู้ป่วย' placeholder='สถานะผู้ป่วย' />
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:MasterPatientState_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:MasterPatientState_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:MasterPatientState_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="MasterPatientStateTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_MasterPatientState_code'>เลขสถานะผู้ป่วย</label></th>
            <th><label id='h_MasterPatientState_name'>สถานะผู้ป่วย</label></th>
            <th><label id='h_MasterPatientState_remark'>หมายเหตุ</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/MasterPatientState/MasterPatientState.js"></script>
    <script>
        $(document).ready(function () {
            MasterPatientState_InitiateDataTable();
            MasterPatientState_InitialForm();
            SetupValidationRemark("MasterPatientState");
        });
    </script>
}

