@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "MasterDrug";
}

<div class="modal fade" id="MasterDrugModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="MasterDrugModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MasterDrugModelLabel">บันทึกข้อมูล MasterDrug</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="MasterDrug_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_MasterDrug_code" for="MasterDrug_code">เลขสถานะผู้ป่วย</label>
	    <input class="form-control" type="text" id="MasterDrug_code" iLabel="เลขสถานะผู้ป่วย" iRequire="true" iGroup="MasterDrug"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterDrug_name" for="MasterDrug_name">สถานะผู้ป่วย</label>
	    <input class="form-control" type="text" id="MasterDrug_name" iLabel="สถานะผู้ป่วย" iRequire="true" iGroup="MasterDrug"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterDrug_dosage" for="MasterDrug_dosage">ปริมาณ</label>
	    <input class="form-control" type="text" id="MasterDrug_dosage" iLabel="ปริมาณ" iRequire="true" iGroup="MasterDrug"  />
    </div>
</div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-12">
	    <label id="lab_MasterDrug_remark" for="MasterDrug_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="MasterDrug_remark" iLabel="หมายเหตุ" iRequire="true" iGroup="MasterDrug"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-12">
	    <label id="lab_MasterDrug_details" for="MasterDrug_details">รายละเอียดยา</label>
	    <input class="form-control" type="text" id="MasterDrug_details" iLabel="รายละเอียดยา" iRequire="true" iGroup="MasterDrug"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:MasterDrug_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">MasterDrug</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterDrug_code' for='s_MasterDrug_code'>เลขสถานะผู้ป่วย</label>
                            <input class="form-control" type="text" id="s_MasterDrug_code" iLabel="เลขสถานะผู้ป่วย" iRequire="true" iGroup="s_MasterDrug" title='เลขสถานะผู้ป่วย' placeholder='เลขสถานะผู้ป่วย' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterDrug_name' for='s_MasterDrug_name'>สถานะผู้ป่วย</label>
                            <input class="form-control" type="text" id="s_MasterDrug_name" iLabel="สถานะผู้ป่วย" iRequire="true" iGroup="s_MasterDrug" title='สถานะผู้ป่วย' placeholder='สถานะผู้ป่วย' />
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:MasterDrug_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:MasterDrug_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:MasterDrug_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="MasterDrugTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_MasterDrug_code'>เลขสถานะผู้ป่วย</label></th>
            <th><label id='h_MasterDrug_name'>สถานะผู้ป่วย</label></th>
            <th><label id='h_MasterDrug_dosage'>ปริมาณ</label></th>
            <th><label id='h_MasterDrug_remark'>หมายเหตุ</label></th>
            <th><label id='h_MasterDrug_details'>รายละเอียดยา</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/MasterDrug/MasterDrug.js"></script>
    <script>
        $(document).ready(function () {
            MasterDrug_InitiateDataTable();
            MasterDrug_InitialForm();
            SetupValidationRemark("MasterDrug");
        });
    </script>
}

