@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "MasterPosition";
}

<div class="modal fade" id="MasterPositionModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="MasterPositionModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MasterPositionModelLabel">บันทึกข้อมูล MasterPosition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="MasterPosition_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_MasterPosition_code" for="MasterPosition_code">เลขตำแหน่งราชการ</label>
	    <input class="form-control" type="text" id="MasterPosition_code" iLabel="เลขตำแหน่งราชการ" iRequire="true" iGroup="MasterPosition"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterPosition_name" for="MasterPosition_name">ชื่อตำแหน่งราชการ</label>
	    <input class="form-control" type="text" id="MasterPosition_name" iLabel="ชื่อตำแหน่งราชการ" iRequire="true" iGroup="MasterPosition"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterPosition_remark" for="MasterPosition_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="MasterPosition_remark" iLabel="หมายเหตุ" iRequire="true" iGroup="MasterPosition"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:MasterPosition_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">MasterPosition</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterPosition_code' for='s_MasterPosition_code'>เลขตำแหน่งราชการ</label>
                            <input class="form-control" type="text" id="s_MasterPosition_code" iLabel="เลขตำแหน่งราชการ" iRequire="true" iGroup="s_MasterPosition" title='เลขตำแหน่งราชการ' placeholder='เลขตำแหน่งราชการ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterPosition_name' for='s_MasterPosition_name'>ชื่อตำแหน่งราชการ</label>
                            <input class="form-control" type="text" id="s_MasterPosition_name" iLabel="ชื่อตำแหน่งราชการ" iRequire="true" iGroup="s_MasterPosition" title='ชื่อตำแหน่งราชการ' placeholder='ชื่อตำแหน่งราชการ' />
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:MasterPosition_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:MasterPosition_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:MasterPosition_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="MasterPositionTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_MasterPosition_code'>เลขตำแหน่งราชการ</label></th>
            <th><label id='h_MasterPosition_name'>ชื่อตำแหน่งราชการ</label></th>
            <th><label id='h_MasterPosition_remark'>หมายเหตุ</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/MasterPosition/MasterPosition.js"></script>
    <script>
        $(document).ready(function () {
            MasterPosition_InitiateDataTable();
            MasterPosition_InitialForm();
            SetupValidationRemark("MasterPosition");
        });
    </script>
}

