@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Payment";
    Layout = "_LayoutDirect";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Payment</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">       

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">บันทึกข้อมูล Payment</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
	<input class="form-control" type="hidden" id="Payment_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Payment_repairId" for="Payment_repairId">เอกสารซ่อม</label>
	    <select class="form-control" id="Payment_repairId" iLabel="เอกสารซ่อม" iRequire="false" iGroup="Payment" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Payment_documentCode" for="Payment_documentCode">เลขที่ใบชำระเงิน</label>
	    <input class="form-control" type="text" id="Payment_documentCode" iLabel="เลขที่ใบชำระเงิน" iRequire="false" iGroup="Payment"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Payment_amountEA" for="Payment_amountEA">จำนวนเงินที่ชำระเป็นหน่วย EA</label>
	    <input class="form-control" type="text" oninput="formatInputNumber(this)" id="Payment_amountEA" iLabel="จำนวนเงินที่ชำระเป็นหน่วย EA" iRequire="false" iGroup="Payment"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Payment_paymentMethod" for="Payment_paymentMethod">วิธีชำระเงิน</label>
	    <input class="form-control" type="text" id="Payment_paymentMethod" iLabel="วิธีชำระเงิน" iRequire="false" iGroup="Payment"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Payment_exchangeItems" for="Payment_exchangeItems">รายการสิ่งของที่ใช้ในการแลกเปลี่ยน</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Payment_exchangeItems" iLabel="รายการสิ่งของที่ใช้ในการแลกเปลี่ยน" iRequire="false" iGroup="Payment" ></textarea>
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Payment_paymentDate" for="Payment_paymentDate">วันที่ชำระ</label>
	    <input class="form-control" type="text" id="Payment_paymentDate" data-provide="datepicker" data-date-language="th-th" iLabel="วันที่ชำระ" iRequire="false" iGroup="Payment"  />
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Payment_paymentNote" for="Payment_paymentNote">หมายเหตุการชำระ</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Payment_paymentNote" iLabel="หมายเหตุการชำระ" iRequire="false" iGroup="Payment" ></textarea>
    </div>
</div>

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default" onclick="javascript:window_close()" style="background-color: #fff;">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Payment_PutUpdate()">บันทึก</button>
            </div>
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Payment/Payment_d.js"></script>
    <script>
        $(document).ready(function () {
            var id = getUrlParameter("id");
            if (id) {
                Payment_SetEditForm(id);
            } else {
                Payment_SetCreateForm();
            }
            SetupValidationRemark("Payment");
        });
    </script>
}

