@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Payment";
}

<div class="modal fade" id="PaymentModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="PaymentModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PaymentModelLabel">บันทึกข้อมูล Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="Payment_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Payment_repairId" for="Payment_repairId">เอกสารซ่อม</label>
	    <select class="form-control" id="Payment_repairId" iLabel="เอกสารซ่อม" iRequire="false" iGroup="Payment" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Payment_documentCode" for="Payment_documentCode">เลขที่ใบชำระเงิน</label>
	    <input class="form-control" type="text" id="Payment_documentCode" iLabel="เลขที่ใบชำระเงิน" iRequire="false" iGroup="Payment"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Payment_amountEA" for="Payment_amountEA">จำนวนเงินที่ชำระเป็นหน่วย EA</label>
	    <input class="form-control" type="text" oninput="formatInputNumber(this)" id="Payment_amountEA" iLabel="จำนวนเงินที่ชำระเป็นหน่วย EA" iRequire="false" iGroup="Payment"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Payment_paymentMethod" for="Payment_paymentMethod">วิธีชำระเงิน</label>
	    <input class="form-control" type="text" id="Payment_paymentMethod" iLabel="วิธีชำระเงิน" iRequire="false" iGroup="Payment"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Payment_exchangeItems" for="Payment_exchangeItems">รายการสิ่งของที่ใช้ในการแลกเปลี่ยน</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Payment_exchangeItems" iLabel="รายการสิ่งของที่ใช้ในการแลกเปลี่ยน" iRequire="false" iGroup="Payment" ></textarea>
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Payment_paymentDate" for="Payment_paymentDate">วันที่ชำระ</label>
	    <input class="form-control" type="text" id="Payment_paymentDate" data-provide="datepicker" data-date-language="th-th" iLabel="วันที่ชำระ" iRequire="false" iGroup="Payment"  />
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Payment_paymentNote" for="Payment_paymentNote">หมายเหตุการชำระ</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Payment_paymentNote" iLabel="หมายเหตุการชำระ" iRequire="false" iGroup="Payment" ></textarea>
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Payment_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Payment</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_Payment_documentCode' for='s_Payment_documentCode'>เลขที่ใบชำระเงิน</label>
                            <input class="form-control" type="text" id="s_Payment_documentCode" iLabel="เลขที่ใบชำระเงิน" iRequire="false" iGroup="s_Payment" title='เลขที่ใบชำระเงิน' placeholder='เลขที่ใบชำระเงิน' />
                        </div>


                    <div class="form-group col-sm-3 d-flex align-items-end">
                        <button class="btn btn-info mr-2" onclick="javascript:Payment_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info mr-2" onclick="javascript:Payment_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:Payment_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="PaymentTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_Payment_repairId'>เอกสารซ่อม</label></th>
            <th><label id='h_Payment_amountEA'>จำนวนเงินที่ชำระเป็นหน่วย EA</label></th>
            <th><label id='h_Payment_documentCode'>เลขที่ใบชำระเงิน</label></th>
            <th><label id='h_Payment_paymentMethod'>วิธีชำระเงิน</label></th>
            <th><label id='h_Payment_exchangeItems'>รายการสิ่งของที่ใช้ในการแลกเปลี่ยน</label></th>
            <th><label id='h_Payment_paymentDate'>วันที่ชำระ</label></th>
            <th><label id='h_Payment_paymentNote'>หมายเหตุการชำระ</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Payment/Payment.js"></script>
    <script>
        $(document).ready(function () {
            Payment_InitiateDataTable();
            Payment_InitialForm();
            SetupValidationRemark("Payment");
        });
    </script>
}

