@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "MasterRole";
}

<div class="modal fade" id="MasterRoleModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="MasterRoleModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MasterRoleModelLabel">บันทึกข้อมูล MasterRole</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="MasterRole_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_MasterRole_code" for="MasterRole_code">เลขกลุ่มผู้ใช้</label>
	    <input class="form-control" type="text" id="MasterRole_code" iLabel="เลขกลุ่มผู้ใช้" iRequire="true" iGroup="MasterRole"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterRole_name" for="MasterRole_name">ชื่อกลุ่มผู้ใช้</label>
	    <input class="form-control" type="text" id="MasterRole_name" iLabel="ชื่อกลุ่มผู้ใช้" iRequire="true" iGroup="MasterRole"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterRole_remark" for="MasterRole_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="MasterRole_remark" iLabel="หมายเหตุ" iRequire="true" iGroup="MasterRole"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:MasterRole_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">MasterRole</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterRole_code' for='s_MasterRole_code'>เลขกลุ่มผู้ใช้</label>
                            <input class="form-control" type="text" id="s_MasterRole_code" iLabel="เลขกลุ่มผู้ใช้" iRequire="true" iGroup="s_MasterRole" title='เลขกลุ่มผู้ใช้' placeholder='เลขกลุ่มผู้ใช้' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_MasterRole_name' for='s_MasterRole_name'>ชื่อกลุ่มผู้ใช้</label>
                            <input class="form-control" type="text" id="s_MasterRole_name" iLabel="ชื่อกลุ่มผู้ใช้" iRequire="true" iGroup="s_MasterRole" title='ชื่อกลุ่มผู้ใช้' placeholder='ชื่อกลุ่มผู้ใช้' />
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:MasterRole_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:MasterRole_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:MasterRole_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="MasterRoleTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_MasterRole_code'>เลขกลุ่มผู้ใช้</label></th>
            <th><label id='h_MasterRole_name'>ชื่อกลุ่มผู้ใช้</label></th>
            <th><label id='h_MasterRole_remark'>หมายเหตุ</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/MasterRole/MasterRole.js"></script>
    <script>
        $(document).ready(function () {
            MasterRole_InitiateDataTable();
            MasterRole_InitialForm();
            SetupValidationRemark("MasterRole");
        });
    </script>
}

