@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "MasterRole";
    Layout = "_LayoutDirect";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">MasterRole</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">       

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">บันทึกข้อมูล MasterRole</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
	<input class="form-control" type="hidden" id="MasterRole_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_MasterRole_code" for="MasterRole_code">เลขกลุ่มผู้ใช้</label>
	    <input class="form-control" type="text" id="MasterRole_code" iLabel="เลขกลุ่มผู้ใช้" iRequire="false" iGroup="MasterRole"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterRole_name" for="MasterRole_name">ชื่อกลุ่มผู้ใช้</label>
	    <input class="form-control" type="text" id="MasterRole_name" iLabel="ชื่อกลุ่มผู้ใช้" iRequire="false" iGroup="MasterRole"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_MasterRole_remark" for="MasterRole_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="MasterRole_remark" iLabel="หมายเหตุ" iRequire="false" iGroup="MasterRole"  />
    </div>
</div>

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default" onclick="javascript:window_close()" style="background-color: #fff;">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:MasterRole_PutUpdate()">บันทึก</button>
            </div>
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/MasterRole/MasterRole_d.js"></script>
    <script>
        $(document).ready(function () {
            var id = getUrlParameter("id");
            if (id) {
                MasterRole_SetEditForm(id);
            } else {
                MasterRole_SetCreateForm();
            }
            SetupValidationRemark("MasterRole");
        });
    </script>
}

