@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Customer";
}

<div class="modal fade" id="CustomerModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="CustomerModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CustomerModelLabel">บันทึกข้อมูล Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="Customer_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Customer_name" for="Customer_name">ชื่อลูกค้า</label>
	    <input class="form-control" type="text" id="Customer_name" iLabel="ชื่อลูกค้า" iRequire="false" iGroup="Customer"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Customer_username" for="Customer_username">ชื่อผู้ใช้งาน</label>
	    <input class="form-control" type="text" id="Customer_username" iLabel="ชื่อผู้ใช้งาน" iRequire="false" iGroup="Customer"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Customer_password" for="Customer_password">รหัสผ่าน</label>
	    <input class="form-control" type="text" id="Customer_password" iLabel="รหัสผ่าน" iRequire="false" iGroup="Customer"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Customer_contactInfo" for="Customer_contactInfo">ข้อมูลติดต่อ</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Customer_contactInfo" iLabel="ข้อมูลติดต่อ" iRequire="false" iGroup="Customer" ></textarea>
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Customer_address" for="Customer_address">ที่อยู่</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Customer_address" iLabel="ที่อยู่" iRequire="false" iGroup="Customer" ></textarea>
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Customer_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Customer</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_Customer_name' for='s_Customer_name'>ชื่อลูกค้า</label>
                            <input class="form-control" type="text" id="s_Customer_name" iLabel="ชื่อลูกค้า" iRequire="false" iGroup="s_Customer" title='ชื่อลูกค้า' placeholder='ชื่อลูกค้า' />
                        </div>


                    <div class="form-group col-sm-3 d-flex align-items-end">
                        <button class="btn btn-info mr-2" onclick="javascript:Customer_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info mr-2" onclick="javascript:Customer_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:Customer_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="CustomerTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_Customer_name'>ชื่อลูกค้า</label></th>
            <th><label id='h_Customer_contactInfo'>ข้อมูลติดต่อ</label></th>
            <th><label id='h_Customer_address'>ที่อยู่</label></th>
            <th><label id='h_Customer_username'>ชื่อผู้ใช้งาน</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Customer/Customer.js"></script>
    <script>
        $(document).ready(function () {
            Customer_InitiateDataTable();
            Customer_InitialForm();
            SetupValidationRemark("Customer");
        });
    </script>
}

