@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "RoleHasPermission";
    Layout = "_LayoutDirect";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">RoleHasPermission</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">       

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">บันทึกข้อมูล RoleHasPermission</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
	<input class="form-control" type="hidden" id="RoleHasPermission_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_RoleHasPermission_masterRoleId" for="RoleHasPermission_masterRoleId">รหัสกลุ่มผู้ใช้</label>
	    <select class="form-control" id="RoleHasPermission_masterRoleId" iLabel="รหัสกลุ่มผู้ใช้" iRequire="false" iGroup="RoleHasPermission" ></select>
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_RoleHasPermission_masterPermissionId" for="RoleHasPermission_masterPermissionId">รหัสสิทธิ์การใช้งาน</label>
	    <select class="form-control" id="RoleHasPermission_masterPermissionId" iLabel="รหัสสิทธิ์การใช้งาน" iRequire="false" iGroup="RoleHasPermission" ></select>
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-3">
	    <label id="lab_RoleHasPermission_create" for="RoleHasPermission_create">สิทธิ์การเพิ่ม</label>
	    <input class="form-control" type="text" id="RoleHasPermission_create" iLabel="สิทธิ์การเพิ่ม" iRequire="false" iGroup="RoleHasPermission"  />
    </div>

    <div class="form-group col-md-3">
	    <label id="lab_RoleHasPermission_read" for="RoleHasPermission_read">สิทธิ์การอ่าน</label>
	    <input class="form-control" type="text" id="RoleHasPermission_read" iLabel="สิทธิ์การอ่าน" iRequire="false" iGroup="RoleHasPermission"  />
    </div>

    <div class="form-group col-md-3">
	    <label id="lab_RoleHasPermission_update" for="RoleHasPermission_update">สิทธิ์การแก้ไข</label>
	    <input class="form-control" type="text" id="RoleHasPermission_update" iLabel="สิทธิ์การแก้ไข" iRequire="false" iGroup="RoleHasPermission"  />
    </div>

    <div class="form-group col-md-3">
	    <label id="lab_RoleHasPermission_delete" for="RoleHasPermission_delete">สิทธิ์การลบ</label>
	    <input class="form-control" type="text" id="RoleHasPermission_delete" iLabel="สิทธิ์การลบ" iRequire="false" iGroup="RoleHasPermission"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-12">
	    <label id="lab_RoleHasPermission_remark" for="RoleHasPermission_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="RoleHasPermission_remark" iLabel="หมายเหตุ" iRequire="false" iGroup="RoleHasPermission"  />
    </div>
</div>

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default" onclick="javascript:window_close()" style="background-color: #fff;">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:RoleHasPermission_PutUpdate()">บันทึก</button>
            </div>
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/RoleHasPermission/RoleHasPermission_d.js"></script>
    <script>
        $(document).ready(function () {
            var id = getUrlParameter("id");
            if (id) {
                RoleHasPermission_SetEditForm(id);
            } else {
                RoleHasPermission_SetCreateForm();
            }
            SetupValidationRemark("RoleHasPermission");
        });
    </script>
}

