@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Repair";
    Layout = "_LayoutDirect";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Repair</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">       

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">บันทึกข้อมูล Repair</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
	<input class="form-control" type="hidden" id="Repair_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Repair_bookingId" for="Repair_bookingId">Booking</label>
	    <select class="form-control" id="Repair_bookingId" iLabel="Booking" iRequire="false" iGroup="Repair" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Repair_repairCode" for="Repair_repairCode">เลขที่การซ่อม</label>
	    <input class="form-control" type="text" id="Repair_repairCode" iLabel="เลขที่การซ่อม" iRequire="false" iGroup="Repair"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Repair_technicianId" for="Repair_technicianId">ช่างซ่อม</label>
	    <select class="form-control" id="Repair_technicianId" iLabel="ช่างซ่อม" iRequire="false" iGroup="Repair" ></select>
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Repair_startDate" for="Repair_startDate">วันที่เริ่มซ่อม</label>
	    <input class="form-control" type="text" id="Repair_startDate" data-provide="datepicker" data-date-language="th-th" iLabel="วันที่เริ่มซ่อม" iRequire="false" iGroup="Repair"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Repair_endDate" for="Repair_endDate">วันที่ซ่อมเสร็จ</label>
	    <input class="form-control" type="text" id="Repair_endDate" data-provide="datepicker" data-date-language="th-th" iLabel="วันที่ซ่อมเสร็จ" iRequire="false" iGroup="Repair"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Repair_totalCostEA" for="Repair_totalCostEA">มูลค่าการซ่อมเป็นหน่วย EA</label>
	    <input class="form-control" type="text" oninput="formatInputNumber(this)" id="Repair_totalCostEA" iLabel="มูลค่าการซ่อมเป็นหน่วย EA" iRequire="false" iGroup="Repair"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-12">
	    <label id="lab_Repair_repairNote" for="Repair_repairNote">หมายเหตุการซ่อม</label>
	    <textarea  class="form-control" rows="4" cols="50" id="Repair_repairNote" iLabel="หมายเหตุการซ่อม" iRequire="false" iGroup="Repair" ></textarea>
    </div>
</div>

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default" onclick="javascript:window_close()" style="background-color: #fff;">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Repair_PutUpdate()">บันทึก</button>
            </div>
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Repair/Repair_d.js"></script>
    <script>
        $(document).ready(function () {
            var id = getUrlParameter("id");
            if (id) {
                Repair_SetEditForm(id);
            } else {
                Repair_SetCreateForm();
            }
            SetupValidationRemark("Repair");
        });
    </script>
}

