@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Booking";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Booking</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">จัดการ Booking</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" onclick="javascript:Booking_Add()">
                            <i class="fa fa-plus"></i> เพิ่มรายการ
                        </button>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="BookingTable" class="display table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
<th><label id='h_Booking_bookingNumber'>เลขที่การจอง</label></th>
<th><label id='h_Booking_customerId'>ลูกค้า</label></th>
<th><label id='h_Booking_bookingDate'>วันที่จอง</label></th>
<th><label id='h_Booking_scheduledRepairDate'>วันที่นัดซ่อม</label></th>
<th><label id='h_Booking_estimatedCost'>ราคาประเมิน หน่วยเป็น EA</label></th>
<th><label id='h_Booking_isConfirm'>Confirm แล้ว</label></th>
<th><label id='h_Booking_spacecraftName'>ชื่อยานอวกาศ</label></th>
<th><label id='h_Booking_model'>รุ่นของยานอวกาศ</label></th>
<th><label id='h_Booking_manufacturer'>ผู้ผลิตยานอวกาศ</label></th>
<th><label id='h_Booking_yearOfManufacture'>ปีที่ผลิต</label></th>
<th><label id='h_Booking_registrationNumber'>หมายเลขทะเบียนยานอวกาศ</label></th>
<th><label id='h_Booking_capacity'>ความจุหรือจำนวนผู้โดยสารที่รองรับได้</label></th>
<th><label id='h_Booking_spacecraftNotes'>หมายเหตุเพิ่มเติมเกี่ยวกับยาน</label></th>
<th><label id='h_Booking_bookingNotes'>หมายเหตุ การ Booking</label></th>
<th><label id='h_Booking_spacecraftImage1'>รูปถ่ายยาน 1</label></th>
<th><label id='h_Booking_spacecraftImage2'>รูปถ่ายยาน 2</label></th>
<th><label id='h_Booking_spacecraftImage3'>รูปถ่ายยาน 3</label></th>
<th><label id='h_Booking_staffId'>ผู้ดูแลลูกค้า</label></th>

                                    <th>กิจกรรม</th>
                                </tr>
                            </thead>
                            <tbody class="thin-border-bottom" id="BookingBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Booking_Save(getUrlParameter('id'))">บันทึก</button>
            </div>
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Booking/Booking_inline.js"></script>
    <script>
        $(document).ready(function () {
            //var id = getUrlParameter("id");
            //if (id) {
            //    Booking_InitialForm(id);
            //}
            Booking_InitialForm('');
        });

        $(document).on("change", ".input_score", function () {
            Booking_Summary();
        });
    </script>
}
