@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "DrugHistory";
}

<div class="modal fade" id="DrugHistoryModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="DrugHistoryModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DrugHistoryModelLabel">บันทึกข้อมูล DrugHistory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="DrugHistory_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_DrugHistory_masterDrugID" for="DrugHistory_masterDrugID">ยา</label>
	    <select class="form-control" id="DrugHistory_masterDrugID" iLabel="ยา" iRequire="true" iGroup="DrugHistory" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_DrugHistory_treatmentScheduleId" for="DrugHistory_treatmentScheduleId">รายการการ Treatment</label>
	    <select class="form-control" id="DrugHistory_treatmentScheduleId" iLabel="รายการการ Treatment" iRequire="true" iGroup="DrugHistory" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_DrugHistory_amount" for="DrugHistory_amount">จำนวนยา</label>
	    <input class="form-control" type="text" id="DrugHistory_amount" iLabel="จำนวนยา" iRequire="true" iGroup="DrugHistory"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-12">
	    <label id="lab_DrugHistory_remark" for="DrugHistory_remark">หมายเหตุ</label>
	    <input class="form-control" type="text" id="DrugHistory_remark" iLabel="หมายเหตุ" iRequire="true" iGroup="DrugHistory"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:DrugHistory_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">DrugHistory</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_DrugHistory_masterDrugID' for='s_DrugHistory_masterDrugID'>ยา</label>
                            <select class="form-control" id="s_DrugHistory_masterDrugID" iLabel="ยา" iRequire="true" iGroup="s_DrugHistory" title='ยา' placeholder='ยา'></select>
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_DrugHistory_treatmentScheduleId' for='s_DrugHistory_treatmentScheduleId'>รายการการ Treatment</label>
                            <select class="form-control" id="s_DrugHistory_treatmentScheduleId" iLabel="รายการการ Treatment" iRequire="true" iGroup="s_DrugHistory" title='รายการการ Treatment' placeholder='รายการการ Treatment'></select>
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:DrugHistory_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:DrugHistory_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:DrugHistory_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="DrugHistoryTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_DrugHistory_masterDrugID'>ยา</label></th>
            <th><label id='h_DrugHistory_treatmentScheduleId'>รายการการ Treatment</label></th>
            <th><label id='h_DrugHistory_amount'>จำนวนยา</label></th>
            <th><label id='h_DrugHistory_remark'>หมายเหตุ</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/DrugHistory/DrugHistory.js"></script>
    <script>
        $(document).ready(function () {
            DrugHistory_InitiateDataTable();
            DrugHistory_InitialForm();
            SetupValidationRemark("DrugHistory");
        });
    </script>
}

